
<nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">Doraemon Characters - {{Author}}</a>
	</div>
</nav>

<div class="container my-3">
	<span [innerHTML]="this.listOfContent.getOutput(0)"></span>
	<span [innerHTML]="this.listOfContent.getOutput(1)"></span>
	<span [innerHTML]="this.listOfContent.getOutput(2)"></span>
	<span [innerHTML]="this.listOfContent.getOutput(3)"></span>
	<span [innerHTML]="this.listOfContent.getOutput(4)"></span>

	<!-- intentionally try to access undefined data - to display error message. -->
	<span [innerHTML]="this.listOfContent.getOutput(5)"></span>
</div>
