:host{
	
	/* Odd Even ContentCard Styles */
	&.even {
		/* color: grey; */
		background-color: lightgray;
	}

	&.odd {
		background-color: white;
	}
}
.singleCard{
	-webkit-box-shadow: 0 0 30px rgb(0, 0, 0);
	box-shadow: 0 0 30px rgb(0, 0, 0);
	display: block;
	text-align: center;
	border: 2px solid red;
	margin: 10px auto;
	width: 60vw;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-variant: small-caps;
	/* /* background-color: #166d3b; */
	/* background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%); */
	color: rgb(0, 0, 0);
}
.content{
	padding: 20px 30px;
}

.contentImg{
	width: 100%;
	height: 45vh;
	border-radius: 0 0 0 30px;
	border: 0.5px solid rgb(0, 0, 0);
	box-sizing: border-box;
}

.contentBody{
	font-size: 20px;
}

#hastags{
	font-size: 45px;
	color: black;
}

.contentName{
	color: black;
}

.vrline{
	color: rgb(255, 0, 0);
}
