
<!-- <nav class="navbar navbar-dark bg-dark">
	<div class="container-fluid">
	  <a class="navbar-brand" href="#">Doraemon Characters - {{Author}}</a>
	</div>
</nav> -->

<!-- <div class="container my-3"> -->
	<!-- <span [innerHTML]="this.listOfContent.getOutput(0)"></span>
	<span [innerHTML]="this.listOfContent.getOutput(1)"></span>
	<span [innerHTML]="this.listOfContent.getOutput(2)"></span>
	<span [innerHTML]="this.listOfContent.getOutput(3)"></span>
	<span [innerHTML]="this.listOfContent.getOutput(4)"></span> -->

	<!-- intentionally try to access undefined data - to display error message. -->
	<!-- <span [innerHTML]="this.listOfContent.getOutput(5)"></span> -->
<!-- </div> -->






<h1 style="margin-bottom: 50px;text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background: -webkit-linear-gradient(#eee, rgb(253, 0, 0));-webkit-background-clip: text;-webkit-text-fill-color: transparent;">Doraemon Characters - {{Author}}</h1>
<hr>

<h1 id="heading">Welcome to App Component</h1>

<h1>Single Card form Data</h1>
<br>

	<div class="singleCard" *ngFor="let item of singleContent">
		<div class="contentCard">
			<img *ngIf="item?.imageLink;" [src]="item?.imageLink" class="contentImg" alt="Character Picture">
			<div class="content">
				<h1 class="contentTitle" appHighlightImportantData [colour]="'yellow'"><span class="contentName">Title </span> <span class="vrline">&#9213;</span> {{item?.title}}</h1>
				<h2 class="contentAuthor"><span class="contentName">Author </span> <span class="vrline">&#9213;</span> {{item?.author}}</h2>
				<h3 appHighlightImportantData [applyBorderToOnlyType]="true" class="contentType"><span class="contentName">Type </span> <span class="vrline">&#9213;</span> {{item?.type}}</h3>
				<p *ngIf="item?.body;" class="contentBody"><span class="contentName">&#x2731;</span>  &nbsp; {{item?.body}}</p>
				<span *ngIf="item?.hashtags?.length !== 0 && item?.hashtags;">
					<div appHighlightImportantData [applyColorToHashtags]="true" *ngFor="let Hashtags of item?.hashtags">
						<span id="hastags">&#10522;</span> {{Hashtags}}
					</div>
				 <!-- {{charactersContent?.hashtags?.join(", ")}} -->
				 
				</span>
			</div>
		</div>
	</div>
	<br>
<br>
<hr>

<!-- <app-content-list></app-content-list> -->



<!-- imcluding the router-outlet -->
<router-outlet></router-outlet>
<!-- imcluding the router-outlet -->