<ng-container *ngIf="!verify_and_refirect_Route">
	<h1 id="heading">Welcome to Update Content Page</h1>
	<div class="form">
		<div class="form__container">
			<div class="brand-logo"></div>
			<div class="inputs">
				<form #myForm>
					<mat-form-field color="primary" appearance="fill">
						<mat-label for="title">TITLE</mat-label>
						<input id="title" name="title" matInput [(ngModel)]="contentItem.title" placeholder="Enter Title here...">
					</mat-form-field>

					<mat-form-field color="primary" appearance="fill">
						<mat-label for="body">BODY</mat-label>
						<input id="body" name="body" matInput [(ngModel)]="contentItem.body" placeholder="Enter Body here...">
					</mat-form-field>

					<mat-form-field color="primary" appearance="fill">
						<mat-label for="author">AUTHOR</mat-label>
						<input id="author" name="author" matInput [(ngModel)]="contentItem.author" placeholder="Enter Author here...">
					</mat-form-field>
					
					<mat-form-field color="primary" appearance="fill">
						<mat-label for="imageLink">IMAGE LINK</mat-label>
						<input id="imageLink" name="imageLink" matInput [(ngModel)]="contentItem.imageLink" placeholder="Enter Image Link here...">
					</mat-form-field>
					
					<mat-form-field color="primary" appearance="fill">
						<mat-label for="type">TYPE</mat-label>
						<input id="type" name="type" matInput [(ngModel)]="contentItem.type" placeholder="Enter Type here...">
					</mat-form-field>
					
					<mat-form-field color="primary" appearance="fill">
						<mat-label for="hashtags">HASHTAGS</mat-label>
						<input id="hashtags" name="hashtags" matInput [(ngModel)]="tempTags" placeholder="Enter Hashtags here...">
					</mat-form-field>
					
			
					<button mat-raised-button color="warn" (click)="updateContentToServer()" type="submit">UPDATE CONTENT</button>
				</form>
			</div>
		</div>
	</div>	
	<p class="Note">Note: Please Update all values otherwise it will store as empty data
		<br>Form is just filled for Display purpose...
	</p>
</ng-container>

<ng-container *ngIf="verify_and_refirect_Route">
	<h1 id="heading">Welcome to Add Content Page</h1>
	<div class="form">
		<div class="form__container">
			<div class="brand-logo"></div>
			<div class="inputs">
				<form #myForm>
					<mat-form-field color="primary" appearance="fill">
						<mat-label for="title">TITLE</mat-label>
						<input id="title" name="title" matInput [(ngModel)]="contentItem.title" placeholder="Enter Title here...">
					</mat-form-field>

					<mat-form-field color="primary" appearance="fill">
						<mat-label for="body">BODY</mat-label>
						<input id="body" name="body" matInput [(ngModel)]="contentItem.body" placeholder="Enter Body here...">
					</mat-form-field>

					<mat-form-field color="primary" appearance="fill">
						<mat-label for="author">AUTHOR</mat-label>
						<input id="author" name="author" matInput [(ngModel)]="contentItem.author" placeholder="Enter Author here...">
					</mat-form-field>
					
					<mat-form-field color="primary" appearance="fill">
						<mat-label for="imageLink">IMAGE LINK</mat-label>
						<input id="imageLink" name="imageLink" matInput [(ngModel)]="contentItem.imageLink" placeholder="Enter Image Link here...">
					</mat-form-field>
					
					<mat-form-field color="primary" appearance="fill">
						<mat-label for="type">TYPE</mat-label>
						<input id="type" name="type" matInput [(ngModel)]="contentItem.type" placeholder="Enter Type here...">
					</mat-form-field>
					
					<mat-form-field color="primary" appearance="fill">
						<mat-label for="hashtags">HASHTAGS</mat-label>
						<input id="hashtags" name="hashtags" matInput [(ngModel)]="tempTags" placeholder="Enter Hashtags here...">
					</mat-form-field>
					
			
					<button (click)="addContentToServer()" mat-raised-button color="warn" type="submit">ADD CONTENT</button>
				</form>
			</div>
		</div>
	</div>	
</ng-container>