<h1 id="heading">Welcome to Search Character</h1>




<div class="search-form">
		
	<input placeholder="Search Doraemon Caharacter by inputing ID here.." type="number" autofocus #idNumber>
	<button class="getUserInputBtn" (click)="checkForIdInList(idNumber.value)">Check Content at id</button>
</div>

<br>


<!-- <h1 id="head">Single Card form Data</h1> -->
<div class="singleCard" *ngFor="let item of singleContent">
	<div class="contentCard">
		<img *ngIf="item?.imageLink;" [src]="item?.imageLink" class="contentImg" alt="Character Picture">
		<div class="content">
			<h1 class="contentTitle" appHighlightImportantData [colour]="'yellow'"><span
					class="contentName">Title </span> <span class="vrline">&#9213;</span>
				{{item?.title}}</h1>
			<h2 class="contentAuthor"><span class="contentName">Author </span> <span
					class="vrline">&#9213;</span> {{item?.author}}</h2>
			<h3 appHighlightImportantData [applyBorderToOnlyType]="true" class="contentType"><span
					class="contentName">Type </span> <span class="vrline">&#9213;</span>
				{{item?.type}}</h3>
			<p *ngIf="item?.body;" class="contentBody"><span class="contentName">&#x2731;</span> &nbsp;
				{{item?.body}}</p>
			<span *ngIf="item?.hashtags?.length !== 0 && item?.hashtags;">
				<div appHighlightImportantData [applyColorToHashtags]="true"
					*ngFor="let Hashtags of item?.hashtags">
					<span id="hastags">&#10522;</span> {{Hashtags}}
				</div>
			</span>
		</div>
	</div>
</div>


<div class="notFound-error" [style]="contentSearchMessage.found ? 'color: blue' : 'color: grey'">
	{{ contentSearchMessage.message }}
</div>

<br>