<h1 id="heading">Welcome to Search Character</h1>




<div class="search-form">
	<mat-form-field color="primary" appearance="fill">
		<input matInput placeholder="Search Doraemon Caharacter by inputing ID here.." type="number" autofocus #idNumber>
	</mat-form-field>
</div>

<button  mat-raised-button color="warn" class="getUserInputBtn" (click)="checkForIdInList(idNumber.value)">Check Content at id</button>

<br>


<!-- <h1 id="head">Single Card form Data</h1> -->
<div class="singleCard" *ngIf="singleContent && this.contentSearchMessage.message !== 'Opps! Character Not Found'">
	<div class="contentCard">
		<img *ngIf="singleContent?.imageLink;" [src]="singleContent?.imageLink" class="contentImg" alt="Character Picture">
		<div class="content">
			<h1 class="contentTitle" appHighlightImportantData [colour]="'yellow'"><span
					class="contentName">Title </span> <span class="vrline">&#9213;</span>
				{{singleContent?.title}}</h1>
			<h2 class="contentAuthor"><span class="contentName">Author </span> <span
					class="vrline">&#9213;</span> {{singleContent?.author}}</h2>
			<h3 appHighlightImportantData [applyBorderToOnlyType]="true" class="contentType"><span
					class="contentName">Type </span> <span class="vrline">&#9213;</span>
				{{singleContent?.type}}</h3>
			<p *ngIf="singleContent?.body;" class="contentBody"><span class="contentName">&#x2731;</span> &nbsp;
				{{singleContent?.body}}</p>
			<span *ngIf="singleContent?.hashtags?.length !== 0 && singleContent?.hashtags;">
				<div appHighlightImportantData [applyColorToHashtags]="true"
					*ngFor="let Hashtags of singleContent?.hashtags">
					<span id="hastags">&#10522;</span> {{Hashtags}}
				</div>
			</span>
		</div>
	</div>
</div>


<div class="notFound-error" [style]="contentSearchMessage.found ? 'color: blue' : 'color: grey'">
	{{ contentSearchMessage.message }}
</div>

<br>