<!-- Using for loop to iterate through the each Doraemon Characters -->
<!-- <div> -->
	<!-- <app-content-card [charactersContent]="item" *ngIf="i/2 === 0 ? o : e"></app-content-card> -->
		<!-- <app-content-card  *ngFor="let item of doraemonCharacters; let even = even; let odd = odd"  -->
		<!-- [class.even]="even" [class.odd]="odd" [charactersContent]="item"></app-content-card> -->
<!-- </div> -->

<h1 id="heading">Welcome to Character List</h1>


<div id="shortNote">
	{{disabledMsg}}
</div>

<div class="search_by_Author">
<mat-form-field color="primary" appearance="fill">
	<input matInput id="inputBox" #getUserInput placeholder="Please Type EXACT Author Name here..." #getInputFromUser id="text" type="text" value="{{displayValue}}" (keyup)="unBlockBtn()"> &nbsp;
</mat-form-field>
<button mat-raised-button color="warn" class="getUserInputBtn" type="button" (click)="getValue(getUserInput.value); getDisabledMessage(); foundMsg();provideInputValueToPipe(getUserInput.value)">{{displayValue ? displayValue : 'Get Information'}}</button>
</div>

<div>
		<h2>{{foundContentMsg}}</h2>
		<app-content-card class="applyThickBorder" *ngFor="let item of doraemonCharacters | applyBorderPipe:valueToPipe;" [charactersContent]="item"></app-content-card>
</div>
<hr>
<h1>Filterd Content Type: "Men"</h1>
<div>
	<app-content-card  *ngFor="let item of doraemonCharacters | filterPipe:'Men'; let even = even; let odd = odd;" class="menCards" [class.even1]="even" [class.odd1]="odd" [charactersContent]="item"></app-content-card>
</div>

<hr>

<h1>Filterd Content Type: "Women"</h1>
<div>
	<app-content-card  *ngFor="let item of doraemonCharacters | filterPipe:'Women'; let even = even; let odd = odd" class="womenCards" [class.even1]="even" [class.odd1]="odd" [charactersContent]="item"></app-content-card>
</div>

<hr>

<h1>Filterd Content Type: ""</h1>
<div>
	<app-content-card  *ngFor="let item of doraemonCharacters | filterPipe:''; let even = even; let odd = odd" class="noTypeCards" [class.even1]="even" [class.odd1]="odd" [charactersContent]="item"></app-content-card>
</div>

