.contentCard{
	display: block;
	text-align: center;
	border: 2px solid red;
	margin: 10px auto;
	width: 60vw;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-variant: small-caps;
	background-color: #166d3b;
	background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
	color: lightgreen;
}

.content{
	padding: 20px 30px;
}

.contentImg{
	width: 100%;
	height: 45vh;
	border-radius: 0 0 0 30px;
	border: 0.5px solid rgb(0, 0, 0);
	box-sizing: border-box;
}

.contentBody{
	font-size: 20px;
}

#hastags{
	font-size: 25px;
	color: rgb(250, 208, 0);
}

.contentName{
	color: rgb(250, 208, 0);
}

.vrline{
	color: rgb(255, 0, 0);
}